<div class='mx-3'>
  <h1>
    Productos
  </h1>
  <div class='container'>
    <div
      class='row'
      data-masonry='{"percentPosition": true }'
      id='cardContainer'
    >
    
      {{#each productos}}
        <div class='card my-2 mx-2' style='width: 18rem;'>
          <img
            src={{thumbnail}}
            class='card-img-top'
            alt={{title}}
          />
          <div class='card-body'>
            <div class='d-flex align-items-center'>
              <h5 class='card-title'>
                {{title}}
              </h5>
              <small class='text-muted mx-1'>
                {{price}}
              </small>
            </div>
            <h6 class='text-info'>
              <i>
                Category: {{category}}", Id: {{id}}
              </i>
            </h6>
            <p class='card-text'>
              {{description}}.
              <i class='text-muted'>
                Items in stock: {{stock}}
              </i>
            </p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<script
  src='https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js'
  integrity='sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D'
  crossorigin='anonymous'
  async
></script>